@model Book
@using Ksiegarnia.Models

<h2>Szczegóły Książki</h2>

@if (Model != null)
{
    <div>
        <dl class="dl-horizontal">
            <dt>Tytuł</dt>
            <dd>@Model.Title</dd>
            <dt>Autor</dt>
            <dd>@Model.Author</dd>
            <dt>Cena</dt>
            <dd>@Model.Price</dd>
        </dl>
    </div>

    <form asp-controller="Cart" asp-action="AddToCart" method="post">
        <input type="hidden" name="bookId" value="@Model.BookId" />
        <label for="quantity">Ilość:</label>
        <input type="number" name="quantity" value="1" min="1" />
        <button type="submit">Dodaj do koszyka</button>
    </form>

    <div>
        <dl class="dl-horizontal">
            <dt>Opis książki</dt>
            <dd>@Model.Description</dd>
        </dl>
    </div>

}
else
{
    <p>Brak danych do wyświetlenia.</p>
}

<p>
    <a asp-controller="Book" asp-action="Index" >Powrót do listy książek</a>
</p>

