@model IEnumerable<Book>

<h2>Lista Książek</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tytuł</th>
            <th>Autor</th>
            <th>Cena</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.BookId</td>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Price</td>
                <td>
                    <a asp-action="Details" asp-route-id="@book.BookId">Szczegóły</a> |
                    <a asp-action="Edit" asp-route-id="@book.BookId">Edytuj</a> |
                    <a asp-action="Delete" asp-route-id="@book.BookId">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
